{% extends 'base.html.twig' %}

{% block title %}Liste des articles !{% endblock %}

{% block body %}
<section class="articles">
{% for article in articles %}
    <article>
        <h2>{{ article.title }}</h2>
        <div class="metadata">
            Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} dans la catégorie Politique
        </div>
        <div class="content">
            <img src="{{ article.image }}" alt="Image">
            <p>{{ article.content }}</p>
            <a href="{{ path('article', {'id' : article.id}) }}" class="btn btn-primary">Lire la suite ..</a>      
        </div>
    </article>
    {% endfor %}
</section>
{% endblock %}
