{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
<h1>Ajouter un article</h1>
<hr/>
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Titre de l'article</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
    <div class="form-group">
    <label for="exampleFormControlInput1">Choisissez une image</label><br/>
    <input type="file" class="" id="exampleFormControlInput1">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Contenu de l'article</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
   <div class="form-group">
  <button type="submit" class="btn btn-primary">Submit</button>
   </div>
</form>
{% endblock %}