{% extends 'base.html.twig' %}

{% block title %}Article complet{% endblock %}

{% block body %}
    <article>
        <h2>{{ article.title }}</h2>
        <div class="metadata">
            Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} dans la catégorie Politique
        </div>
        <div class="content">
            <img src="{{ article.image }}" alt="Image">
            <p>{{ article.content }}</p>
        </div>
    </article>
{% endblock %}